body {

  margin: 0;
}

.mainContainer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../src/Assets/images2.jpg");
  background-size: cover;
  height: 100vh;
  margin-top: 30px !important;
}

/* header */

.headerTop {
  min-height: 35px !important;
  background-color: #112134;
  width: 100%;
}
.css-18gxgid-MuiPaper-root
{
    border-radius: 0px !important;
    box-shadow: none !important;
}

/* ---------------------- */

.navbar {
  background-color: #FFFFFF;
  /* height: auto; */
  color: black;
  position: sticky !important;
  top: 0% !important;
  z-index: 9999;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#basic-navbar-nav {
  margin-left: 300px; 
   color: rgb(0, 0, 0);
  font-weight: 600;
  /* margin-top: 20px; */
}

.navbar-nav a {
  color: #525081;
}

.navbar-nav a:hover {

  color: #fc9460;
  box-shadow: inset 0px -20px 0px -15px #F79868;
}

.logo {
  width: 100% !important;
  height: 200px;
  overflow: hidden !important;
  margin-top: -105px;
  margin-bottom: -130px;
  margin-left: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 1300px !important;
  margin-left: 10px !important;

}

/* Banner */
.imageContainer {
  display: flex;
  flex-wrap: nowrap;

}

.headerText {
  width: 100%;
  margin-top: 300px;
  /* margin: 20px; */
  margin-left: 40px;
}

.headerText h1 {
  font-size: 40px;
  color: #fd783b;
  font-weight: 600;
}

.paragraphInterior {
  /* width: 70%; */
  /* text-align: justify; */
  font-size: 20px;
}

.btn-banner {
  background: transparent;
  border: 1px solid #F79868;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
}

.btn-banner:hover {
  background-color: #F79868;
  color: #fff;
  font-weight: 600;
}

*/ .imageHeader {
  width: 30%;
  margin: 10px;
}

.imgHeaderSmall {
  height: 70vh;
  width: 100%;
  margin-top: 300px;

}

.home-head {
  font-size: 60px !important;
}

@media screen and (max-width: 1150px) {
  .paragraphInterior {
    width: 80%;
    font-size: 15px;
  }

}

@media screen and (max-width: 980px) {
  #basic-navbar-nav {
    margin-left: 0px !important;
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .imgHeaderSmall {
    margin-top: 70px;
    height: 50vh;
  }


  .imageContainer {
    flex-direction: column;
    margin-top: 0px;
  }

  .banner-para {
    font-size: 15px;

  }

  .headerText {
    margin-top: 0px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    /* padding-top: 2rem !important; */
    padding-left: 2rem !important;
    align-items: center !important;
  }
}

/* text section */
.text_Section {
  width: 100%;
  margin-top: 12em;

}

.head4 {
  text-align: center;
  font-size: 20px;
  font-family: "Arimo", Arial, Helvetica, sans-serif;
  list-style: 5px;
}

.head1 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
  line-height: 9px;
  color: #F49453;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para {

  width: 50%;
  text-align: Justify;
  margin-left: 18em;
  font-size: 1.17rem;
  font-weight: 500;
  margin-top: 40px;
}

/* .line {

    border: 2px solid blue;
    width: 100px;
   margin-left: 300px;
    margin-top: 50px;
} */

@media screen and (max-width: 1200px) {
  .head1 {
    font-size: 30px;
  }

  .para {
    width: auto;
    margin-left: 0.5em;
    margin-right: 0.5em;
    letter-spacing: 0.2px;
    font-size: 15px;
  }

 
  .logo {
    overflow: hidden !important;
    width: 100% !important;
    height: 150px !important;
    margin-top: -90px !important;
    /* margin-bottom: -90px !important; */
  }
}

/* -------------------------------------About us ------------------------- */
.About_Section {

  margin-top: 80px;
 
  /* background-color: #E3E2E1; */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* background-color: #FCF6E7; */
}

.about-para {
  color: black;
}

.about-us {
  margin-top: 50px;
  color: #525081;
}
/* service section */
.about-para-service{
  color: #FFBB02;
}
.service-us{
  color:#FFBB02;
}
.bar {
  position: relative;
  height: 2px;
  margin-bottom: 10px;
  background: #6a6a6a;
  width: 0%;
  top: 0px;
  left: 2px;
  box-shadow: 0 0 3px rgba(192, 192, 192, 0.9);
  animation: fill 3s infinite alternate, colors 5s infinite alternate;
}

@keyframes fill {
  0% {
    width: 0;
  }

  100% {
    width: 300px;
  }
}

@keyframes colors {
  0% {
    background-color: #112134;
  }

  50% {
    background-color: #112134;
  }

  100% {
    background-color: #112134;
  }
}
.footer-heading2{
  text-align: justify;
  width: 50%;

  background-color: #F49453;
}
.portfolio-text{
  margin-top: 90px !important;
  width: 180px;
  position: relative;
  margin: 0 auto;
}
.background-color{
  /* background: #F49453; */
  margin-top: 50px !important;
 
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../src/Assets/baner1.jpg"); */
}

.btn2 {
  background: transparent;
  border: 2px solid #F49453;
  color: black !important;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;

}

.btn2:hover {
  background-color: #F79868;
  color: #fff;
  font-weight: 600;
}

.btn3 {
  background: transparent;
  border: 2px solid #F49453;
  color: #FFFFFF;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;

}

.btn3:hover {
  background-color: #F79868;
  color: #fff;
  font-weight: 600;
}

.portfolio-grid {
  margin-top: 70px !important;
}

.portfolio-text {
  padding: 70px;
  margin: 40px;

}

.banner-para {
  color: #fff;
  text-align: justify;
  width: 60%;
}

.img_Section {
  width: 50%;

}

.pic {
  width: 80%;
  height: 60vh;
  margin-left: 20px;
}

.text_img {
  /* background-color: aqua; */
  width: 50%;

}

.text_img h1 {
  margin: 40px;
  padding: 20px;
  margin-top: 80px;

}

.about-para {
  width: 70%;
  text-align: Justify;
  font-size: 15px;

}

.about-para-service {
  width: 70%;
  text-align: Justify;
  font-size: 15px;
}

.portfolioGridImage {
  width: 500px !important;
  height: 450px !important;
}

@media screen and (max-width: 1200px) {
  .col {
    flex: none !important;

  }

  .pic {
    width: 92%;
    height: unset;
  }

  .about-img {
    /* margin-left: 10px; */
    text-align: center;
  }

  .about-para {
    text-align: center !important;
    width: 100%;
  }

  .portfolio-text {
    padding: 50px;
    margin: 0%;
    text-align: center;
  }

  .portfolioGridImage {
    width: 700px !important;
    height: 450px !important;
    margin-left: 70px;
  }

  .row>* {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .portfolio-grid {
    margin-top: 10px !important;
  }

  .portfolioGridImage {
    margin-left: 40px !important;
    width: 300px !important;
    height: 450px !important;
  }
}

/* @media screen and (min-width: 600px) {
  .portfolio-grid{
    margin-top: 10px !important;
  }
  .portfolioGridImage{
    margin-left: 50px !important;
    width:300px !important;
    height:450px !important;
  }
} */
/* @media screen and (max-width: 768px){
  .portfolio-grid{
    margin-top: 10px !important;
  }
  .portfolioGridImage{
    margin-left: 20px !important;
    width:300px !important;
    height:450px !important;
  }
} */

/* ----------------------------------Product Card-------------------------- */
.servicesImages {
  /* width: 320px;
   height: 370px; */

}

.container-img {
  height: 350px;
  width: 100%;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 10px;
}

.container-img img {
  width: 100%;
  height: 350px;
  display: block;
  transition: transform 2s;
  border-radius: 10px;
}

.container-img:hover img {
  transform: scale(1.3);
}

@media only screen and (max-width: 768px) {
  .servicesImages {
    padding: 10px;
    width: 410px;
  }
}

.head-services {
  /* /* text-align: center;
  font-size: 40px;
  margin-top: 70px; */
}

.main-card-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 500px));
  grid-gap: 10px;
  justify-content: space-around;

}

.card-container {
  margin: 25px auto 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.card-container img {
  max-width: 100%;
  height: 300px;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
}

.card-body {
  display: inline-block;
}

.card-media {
  max-width: 100%;
  height: auto;
}

.card-shadow {
  /* background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
    0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1; */
}

@media (max-width: 998px) {
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
}

/* ---------- Button styles ------------------ */

.navbar-menu {
  padding-top: 50px;
  text-align: center;
}

.menu {
  margin-left: 90px;
}

.btn-group {
  text-transform: capitalize;
  text-align: center;
}

.btn-menu {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  box-shadow: inset 0px 0px 0px -15px rebeccapurple;
  transition: all 300ms ease-out;
  font-size: 16px;
  font-weight: 400;
  font-family: unset;
  color: #F49453;
}

.btn-menu:hover {
  color: rebeccapurple;
  box-shadow: inset 0px -20px 0px -15px rebeccapurple;
}

.btn-menu:after {

  color: rebeccapurple;
  transform: translatey(10px);
  opacity: 0;
  transition: all 200ms ease-out;
}

.menu-line {

  height: 1px;
  background-color: blue;
  width: 85%;
  margin-left: 7%;
  margin-top: 50px;
  margin-right: 10%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: rebeccapurple;
  border-radius: 50%;
  display: inline-block;
}





/* ---------------------------Concept Section------------------------ */
.mainConcept {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.leftConcept {
  width: 50%;
}

.row {
  margin-right: 0px !important;

}

.rightConcept {
  width: 40%;
}

.concept-para {
  margin: 30px 30px 1px 30px;
  padding: 30px;
}

.btn4 {
  background: transparent;
  border: 2px solid #F49453;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.btn4:hover {
  background-color: #F79868;
  color: #fff;
  font-weight: 600;
}

.circle {
  margin-top: 60px !important;
  margin-left: 4.5em !important;
}

@media (max-width: 998px) {
  .mainConcept {
    flex-direction: column;
  }

  .leftConcept {
    width: 100%;
  }

  .rightConcept {
    width: 80%;
    /* margin-left: 60px; */
  }

  .concept-para {
    text-align: justify;
  }

  .btn4 {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
  }

}

/* ---------------contact---------------- */
.mainConcept-contact {
  background-color: #FCF6E7;
  /* height: 500px; */
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.contact-para1 {
  display: flex;
}

.contact-icons {
  font-size: 20px;

  margin-right: 12px;
  color: #F79868;
  margin-top: 8px;
}

@media (max-width: 998px) {
  .map {
    width: 100%;
  }
}

/* --------------Footer----------------- */


.footer-class {

  /* background: linear-gradient(rgba(1, 1, 122, 150), rgba(1, 1, 122, 150)), url("../src/Assets/baner1.jpg"); */
  background-color: #282757;
}



.linkText {
  text-decoration: none !important;
  font-size: 15px;
  line-height: 40px;
  color: white !important;
}

.Heading {
  color: #FFBB02;
  font-weight: 600;
}

.line {
  border: none;
  height: 1px;
  color: white;
  /* old IE */
  background-color: white;
}

.text_contactus {
  line-height: 2.5em !important;
}



.text_contactus>.MuiSvgIcon-root {
  padding: 5px;
  font-size: 27px !important;
}

.textFooterCopyrightdiv {
  text-align: center;
  margin-left: 30px;
}

.footerCopyright {
  width: 100%;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  height: 60px;
  /* background: linear-gradient(to left, #F49453, #525081); */
  background-color: #112134;
}

.intaicon {
  margin-left: 5px;
  size: 50px;
}

.space {
  width: 10%;
}

.textFooterCopyright {
  font-size: 15px;
  font-weight: 600;
}

.textFooterCopyrightdiv {
  align-self: center;
  width: 70%;
  cursor: pointer;
}

.socialIcon {
  align-self: center;
  width: 20%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0% !important;
  }
}

@media screen and (max-width: 800px) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .inner-grid {
    flex: 100%;
    max-width: 100%;
  }
}

/* ----------------Portfolio--------------------- */
.mainPortfolio {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../src/Assets/baner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.images-color {
  background-color: #FCF6E7;
}

.portfolioText {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}



@media (max-width: 998px) {
  .css-k2d9o5-MuiGrid-root {
    margin-top: 50px;
  }
}

.livingRoom {
  /* background-color: #FAB407; */
  /* height:250px ; */

}

/* ------------------Services--------------- */
.main-services {
  width: 100%;
  height: 500px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../src/Assets/baner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.serviceText {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: '#FAB407';
  font-size: '50px';
}

.service-heading {
  color: '#F79868';
  font-size: '70px'
}

@media screen and (max-width: 1200px) {
  .main-services {
    height: 450px;

  }

  .serviceText {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

  }

}
/* --------Contact Us--------------------- */
.location-icons{
  font-size: 70px;
  margin-left: 30%;
}
.location-icons:hover{
  color: #282757;
}
.location-text{

  flex-direction: row;
}
.contact-text{
  font-size: 20px;
  text-align: center;
  color: #525081 ;
  font-weight:500 ;
  }

.phone-icons{
  font-size: 70px;
  margin-left: 30%;
}
.phone-icons:hover{
  color: #282757;
}
.email-icons{
  font-size: 70px;
  margin-left: 30%;
}
.email-icons:hover{
  color: #282757;
}
.main-icon-box{
  display: flex;

  margin-top: 20px;
}
.map-contact{
  width: 100%;
}
.contact-line{
  /* display: inline-block;  */
  position: relative;
  color: #C8523B;
}
.contact-line::after{
   /* content: '';
    position: absolute;
    width: 50%; */
    /* transform: scaleX(0); */
    /* height: 2px;
    bottom: 0;
    left: 0; */
    /* background-color: #C8523B; */
    /* transform-origin: bottom left;
    transition: transform 1.5s ease-out;
    animation: anim 3s infinite;
    animation-direction: alternate;  */
}

/* .service-heading{ */
/* color: '#FAB407';
    font-size: '50px';
    margin-bottom: 200px;
  } */
/* } */

/* ---------Products---------- */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}