.mainContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("../src/Assets/images2.jpg");
    background-size: cover;
    height: 100vh;

}

.appBar {
    background-color: transparent !important;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    box-shadow: none !important;
}

.imageContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 15em;
}

.headerText {
    width: 100%;
    margin: 10px;
    height: 300px;
}

.headerText h1 {
    font-size: 40px;
    color: #FAB407;
}

.paragraphInterior {
    width: 70%;
    text-align: Justify;
    font-size: 20px;
}

*/ .imageHeader {
    width: 30%;
    margin: 10px;
}

.imgHeaderSmall {
    height: 70vh;
    width: 100%;
}

/* button */
.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}

.btn::after,::before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.btn::after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.btn::before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn::before,::after {
    width: 100%;
    height: 100%;
}


/* .btn{
    background: transparent;
    border: 1px solid #FAB407;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 50px;
}
.btn:hover{
    background-color: #FAB407;
    color: white;
} */

@media screen and (max-width: 1150px) {
    .paragraphInterior {
        width: 80%;
        font-size: 15px;
    }

}

@media screen and (max-width: 800px) {
    .imgHeaderSmall {
        margin-top: 1.5em;
        height: 50vh;
    }

    .imageContainer {
        flex-direction: column;
        margin-top: 0.3em;
    }

}

/* text section */
.text_Section {

    margin-top: 12em;
}

.head4 {
    text-align: center;
    font-size: 20px;
    font-family: "Arimo", Arial, Helvetica, sans-serif;
    list-style: 5px;
}

.head1 {
    text-align: center;
    font-size: 50px;
    line-height: 9px;
    color: #FAB407;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para {

    width: 50%;
    text-align: Justify;
    margin-left: 18em;
    /* text-align: center; */
    font-size: 1.17rem;
    /* line-height: 25px; */
    font-weight: 500;
}

.line {

    border: 2px solid blue;
    width: 100px;
}

@media screen and (max-width: 1200px) {
    .head1 {
        font-size: 30px;
    }

    .para {
        margin-left: 2px;
        width: 97%;
    }
}

/* About us  */
.About_Section{
   
    display: flex;
    flex-wrap: nowrap;
    background-color: DodgerBlue;
}

.img_Section{
    width: 50%;
  
}
.pic{
    width: 100%;
}
.text_img{
    /* background-color: aqua; */
    width: 50%;
  
}
.text_img h1{
    margin: 50px;
    padding: 20px;

   }
    /* ----------------------------------Services-------------------------- */
    .head-services{
        text-align: center;
        font-size: 40px;
        margin-top: 70px;
    }
    .main-card-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 500px));
        grid-gap: 20px;
        justify-content: space-around;
       
      }
    .card-container {
        margin: 25px auto 0;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: space-around;
        align-items: flex-start;
      }

      .card-container img {
        max-width: 100%;
        height: 300px;
      }
      
      .card {
        background-color: #fff;
        padding: 30px;
        position: relative;
        box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
        z-index: 1;
      }
      .card-body {
        display: inline-block;
      }
      .card-media {
        max-width: 100%;
        height: auto;
      }
      .card-shadow {
        background-color: #fff;
        box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1),
          0 0 100px 3px rgba(0, 0, 0, 0.25);
        height: 1px;
        margin: -1px auto 0;
        width: 80%;
        z-index: -1;
      }

      @media (max-width: 998px) {
        .main-card--cointainer {
          display: grid;
          grid-template-columns: repeat(1, minmax(200px, 500px));
          grid-gap: 50px;
          justify-content: space-around;
        }
      }

      /* ---------- Button styles ------------------ */

.navbar {
  padding-top: 50px;
  text-align: center;
}

.navbar h1 {
  padding-bottom: 20px;
  text-transform: capitalize;
}

/** button group styles **/
.btn-group {
  border-radius: 1rem;
  text-transform: capitalize;
}
.btn-group__item {
  border: none;

  /* min-width: 6rem; */
  padding: 1.5rem 3rem;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 0;
  font-size: 17px;
  box-shadow: inset 0px 0px 0px -15px rebeccapurple;
  transition: all 300ms ease-out;
  text-transform: capitalize;
}
.btn-group__item:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.btn-group__item:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.btn-group__item:hover,
.btn-group__item:focus {
  color: rebeccapurple;
  box-shadow: inset 0px -20px 0px -15px rebeccapurple;
}
.btn-group__item:focus {
  outline: none;
}
.btn-group__item:after {
  content: "✔️";
  margin-left: 0.5rem;
  display: inline-block;
  color: rebeccapurple;
  /* position: absolute; */
  transform: translatey(10px);
  opacity: 0;
  transition: all 200ms ease-out;
}
.btn-group__item--active:after {
  opacity: 1;
  transform: translatey(-2px);
}

/* --------------Footer----------------- */
.footerMain{
    display: flex;
}
.footerRight{
  display: flex;
  justify-content: center;
    width: 50%;
    height: 400px;
    background:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),url("../src/Assets/image3.jpg");
}
.footerLeft{
width: 50%;
background-color: blueviolet;
}
.footer-span{
  font-size: 2rem;

  color: white;
 
  font-family: "Montserrat"; 
}